
@use '../util/' as *;

.qty-container{
    min-width: 156px;
    height: 53px;
    margin-right: 16px;
    background-color: var(--light-gray-blue);
    border-radius: 11px;
    text-align: center;

    @include breakpoint-down(medium){
        min-width: 100%;
        margin-block-end: 16px;
    }

    &__btn{
        width: calc(156px/3);
        height: calc(156px/3);
        border: none;
        border-radius: 11px;
        color: var(--orange);

    }

    &__input{
        width: calc(156px/3);
        border: none;
        text-align: center;
    }
}
